In [179]:
# for d in datas.items():
#     print(d)
# # type(datas)

In [199]:
import xlsxwriter

workbook = xlsxwriter.Workbook('chart_column.xlsx')
worksheet = workbook.add_worksheet()
bold = workbook.add_format({'bold': 1})

# Add the worksheet data that the charts will refer to.
headings = ['Number', 'Batch 1', 'Batch 2']
data = [
    [2, 3, 4, 5, 6, 7],
    [10, 40, 50, 20, 10, 50],
    [30, 60, 70, 50, 40, 30],
]

worksheet.write_row('A1', headings, bold)
worksheet.write_column('A2', data[0])
worksheet.write_column('B2', data[1])
worksheet.write_column('C2', data[2])

#######################################################################
#
# Create a new column chart.
#
chart1 = workbook.add_chart({'type': 'column'})

# Configure the first series.
chart1.add_series({
    'name':       '=Sheet1!$B$1',
    'categories': '=Sheet1!$A$2:$A$7',
    'values':     '=Sheet1!$B$2:$B$7',
})

# Configure a second series. Note use of alternative syntax to define ranges.
chart1.add_series({
    'name':       ['Sheet1', 0, 2],
    'categories': ['Sheet1', 1, 0, 6, 0],
    'values':     ['Sheet1', 1, 2, 6, 2],
})

# Add a chart title and some axis labels.
chart1.set_title ({'name': 'Results of sample analysis'})
chart1.set_x_axis({'name': 'Test number'})
chart1.set_y_axis({'name': 'Sample length (mm)'})

# Set an Excel chart style.
chart1.set_style(11)

# Insert the chart into the worksheet (with an offset).
worksheet.insert_chart('D2', chart1, {'x_offset': 25, 'y_offset': 10})
workbook.close()

In [227]:
# for k, v in datas.items():
#     print(k, ":", v)
mean = df['ret'].mean()
skew = df['ret'].skew()
df['cat'] = pd.qcut(df['ret'], 10)
# mean, skew
cat_df = df['cat'].value_counts()
# cat_df.index.str.tolist()
cat_right = cat_df.index.categories.right.tolist()
cat_count = cat_df.values.tolist()
# cat_df.values
cat_count

[71, 71, 71, 71, 71, 70, 70, 70, 70, 70]

In [243]:
df.head()
df['year'] = df['pd_date'].dt.year
df.columns
df.head()
# years = df['year'].unique().tolist()
year_end = df.groupby('year').tail(1)['date'].tolist()
year_end

['2017-12-29', '2018-12-28', '2019-12-31', '2020-11-20']

In [17]:
# df['month'] = df['pd_date'].dt.month
df['month'] = df['date'].str[:-3]
mhdf = df.groupby('month').head(1)
mtdf = df.groupby('month').tail(1)
mdf = pd.concat([mhdf, mtdf])
mdf = mdf.sort_values('date')
# mdf['total_ms'] = 
# mdf['month_ret'] = 
mdf['bm_total'] = mdf['total'].shift(1)
mdf['month_ret'] = (mdf['total'] - mdf['bm_total'] ) / mdf['total'] * 100
mdf = mdf.groupby('month').tail(1)
mdf

,date,cny,notional,total,pre_total,ret,cum_ret,pd_date,max_total,mdd,total_sta,date_sta,ret_sta,month,bm_total,month_ret
17,2017-01-26,5.116039e+07,9.066213e+08,9.066213e+08,8.554609e+08,5.980449,3.021237e+19,2017-01-26,9.066213e+08,0.0,NaN,NaN,NaN,2017-01,5.000000e+07,94.485018
35,2017-02-28,5.276893e+07,1.841985e+09,1.841985e+09,1.789273e+09,2.946017,1.581804e+30,2017-02-28,1.841985e+09,0.0,NaN,NaN,NaN,2017-02,9.576387e+08,48.010502
58,2017-03-31,5.504486e+07,3.082249e+09,3.082249e+09,3.027240e+09,1.817138,1.858467e+38,2017-03-31,3.082249e+09,0.0,NaN,NaN,NaN,2017-03,1.894683e+09,38.529190
76,2017-04-28,5.565806e+07,4.070574e+09,4.070574e+09,4.014916e+09,1.386283,5.065874e+41,2017-04-28,4.070574e+09,0.0,8.554609e+08,2017-01-25,78.984270,2017-04,3.137482e+09,22.922879
96,2017-05-31,5.777509e+07,5.214981e+09,5.214981e+09,5.157206e+09,1.120278,4.006370e+43,2017-05-31,5.214981e+09,0.0,1.894683e+09,2017-03-01,63.668451,2017-05,4.126396e+09,20.874189
118,2017-06-30,5.894201e+07,6.503172e+09,6.503172e+09,6.444230e+09,0.914648,4.665857e+43,2017-06-30,6.503172e+09,0.0,3.082249e+09,2017-03-31,52.603913,2017-06,5.272806e+09,18.919466
139,2017-07-31,5.872664e+07,7.745153e+09,7.745153e+09,7.686424e+09,0.764068,1.044853e+42,2017-07-31,7.745153e+09,0.0,4.238103e+09,2017-05-04,45.280576,2017-07,6.562111e+09,15.274612
162,2017-08-31,6.266211e+07,9.138944e+09,9.138944e+09,9.076902e+09,0.683515,5.775850e+38,2017-08-31,9.138944e+09,0.0,5.561479e+09,2017-06-08,39.145279,2017-08,7.803658e+09,14.610950
183,2017-09-29,6.317650e+07,1.045396e+10,1.045396e+10,1.039033e+10,0.612405,5.235495e+34,2017-09-29,1.045396e+10,0.0,6.799577e+09,2017-07-07,34.956938,2017-09,9.200946e+09,11.986040
200,2017-10-31,6.697158e+07,1.156774e+10,1.156774e+10,1.150077e+10,0.582323,8.191336e+30,2017-10-31,1.156774e+10,0.0,7.803658e+09,2017-08-01,32.539505,2017-10,1.051795e+10,9.075188
222,2017-11-30,6.955299e+07,1.306509e+10,1.306509e+10,1.299554e+10,0.535224,1.911716e+25,2017-11-30,1.306509e+10,0.0,9.138944e+09,2017-08-31,30.050683,2017-11,1.163496e+10,10.946234
243,2017-12-29,7.244792e+07,1.454680e+10,1.454680e+10,1.447435e+10,0.500526,1.548371e+19,2017-12-29,1.454680e+10,0.0,1.045396e+10,2017-09-29,28.135641,2017-12,1.313444e+10,9.709040
265,2018-01-31,7.490927e+07,1.616941e+10,1.616941e+10,1.609450e+10,0.465430,1.626445e+12,2018-01-31,1.616941e+10,0.0,1.190459e+10,2017-11-07,26.375881,2018-01,1.461954e+10,9.585238
280,2018-02-28,7.735383e+07,1.731150e+10,1.731150e+10,1.723336e+10,0.453395,1.246723e+07,2018-02-28,1.731150e+10,0.0,1.292624e+10,2017-11-28,25.331468,2018-02,1.624458e+10,6.163030
302,2018-03-30,7.856462e+07,1.905759e+10,1.905759e+10,1.897608e+10,0.429556,1.590893e-01,2018-03-30,1.905759e+10,0.0,1.447435e+10,2017-12-28,24.049450,2018-03,1.738944e+10,8.753240
320,2018-04-27,8.465158e+07,2.055885e+10,2.055885e+10,2.047420e+10,0.413449,2.878588e-08,2018-04-27,2.055885e+10,0.0,1.579574e+10,2018-01-24,23.168174,2018-04,1.913972e+10,6.902759
342,2018-05-31,8.995635e+07,2.250528e+10,2.250528e+10,2.241532e+10,0.401316,9.702079e-17,2018-05-31,2.250528e+10,0.0,1.746722e+10,2018-03-02,22.386134,2018-05,2.064388e+10,8.270936
362,2018-06-29,9.120395e+07,2.433478e+10,2.433478e+10,2.424219e+10,0.381949,6.942713e-25,2018-06-29,2.433478e+10,0.0,1.905759e+10,2018-03-30,21.685768,2018-06,2.259541e+10,7.147683
384,2018-07-31,9.763654e+07,2.643533e+10,2.643533e+10,2.633769e+10,0.370710,3.326625e-34,2018-07-31,2.643533e+10,0.0,2.090165e+10,2018-05-07,20.932891,2018-07,2.442799e+10,7.593404
407,2018-08-31,1.003868e+08,2.869893e+10,2.869893e+10,2.859854e+10,0.351028,1.802677e-44,2018-08-31,2.869893e+10,0.0,2.295739e+10,2018-06-07,20.006126,2018-08,2.653308e+10,7.546780
426,2018-09-28,1.039034e+08,3.062966e+10,3.062966e+10,3.052579e+10,0.340276,2.708239e-53,2018-09-28,3.062966e+10,0.0,2.470800e+10,2018-07-05,19.333068,2018-09,2.879907e+10,5.976531
444,2018-10-31,1.063720e+08,3.253416e+10,3.253416e+10,3.242778e+10,0.328027,7.925479e-62,2018-10-31,3.253416e+10,0.0,2.643533e+10,2018-07-31,18.745923,2018-10,3.073381e+10,5.533708
466,2018-11-30,1.110948e+08,3.493045e+10,3.493045e+10,3.481936e+10,0.319060,1.310588e-72,2018-11-30,3.493045e+10,0.0,2.859854e+10,2018-08-30,18.127196,2018-11,3.264063e+10,6.555366
486,2018-12-28,1.135380e+08,3.719155e+10,3.719155e+10,3.707801e+10,0.306214,1.143544e-82,2018-12-28,3.719155e+10,0.0,3.062966e+10,2018-09-28,17.643509,2018-12,3.504168e+10,5.780540
508,2019-01-31,1.147452e+08,3.971098e+10,3.971098e+10,3.959512e+10,0.292634,3.180912e-94,2019-01-31,3.971098e+10,0.0,3.296405e+10,2018-11-06,16.990087,2019-01,3.730564e+10,6.057123
523,2019-02-28,1.173501e+08,4.146403e+10,4.146403e+10,4.134660e+10,0.284002,2.525432e-102,2019-02-28,4.146403e+10,0.0,3.459886e+10,2018-11-27,16.556921,2019-02,3.982676e+10,3.948634
544,2019-03-29,1.200875e+08,4.396385e+10,4.396385e+10,4.384240e+10,0.277025,5.815563e-114,2019-03-29,4.396385e+10,0.0,3.696423e+10,2018-12-26,15.921317,2019-03,4.158215e+10,5.417421
565,2019-04-30,1.255758e+08,4.657778e+10,4.657778e+10,4.645090e+10,0.273149,1.009256e-125,2019-04-30,4.657778e+10,0.0,3.936361e+10,2019-01-28,15.488444,2019-04,4.408526e+10,5.351303
585,2019-05-31,1.295570e+08,4.919416e+10,4.919416e+10,4.906168e+10,0.270045,5.586243e-137,2019-05-31,4.919416e+10,0.0,4.170021e+10,2019-03-04,15.233421,2019-05,4.670547e+10,5.058916
604,2019-06-28,1.355514e+08,5.173444e+10,5.173444e+10,5.159889e+10,0.262702,6.299811e-148,2019-06-28,5.173444e+10,0.0,4.396385e+10,2019-03-29,15.020141,2019-06,4.932687e+10,4.653708
627,2019-07-31,1.383253e+08,5.489454e+10,5.489454e+10,5.475621e+10,0.252620,1.862230e-161,2019-07-31,5.489454e+10,0.0,4.683283e+10,2019-05-07,14.685801,2019-07,5.186964e+10,5.510382
649,2019-08-30,1.415071e+08,5.795313e+10,5.795313e+10,5.781162e+10,0.244772,7.940574e-175,2019-08-30,5.795313e+10,0.0,4.972422e+10,2019-06-06,14.199250,2019-08,5.503234e+10,5.039905
669,2019-09-30,1.445027e+08,6.080540e+10,6.080540e+10,6.066090e+10,0.238214,3.328668e-187,2019-09-30,6.080540e+10,0.0,5.241734e+10,2019-07-05,13.794929,2019-09,5.809457e+10,4.458201
687,2019-10-31,1.456042e+08,6.344399e+10,6.344399e+10,6.329691e+10,0.232357,1.751592e-198,2019-10-31,6.344399e+10,0.0,5.489454e+10,2019-07-31,13.475590,2019-10,6.095053e+10,3.930177
708,2019-11-29,1.531623e+08,6.661363e+10,6.661363e+10,6.646049e+10,0.230431,8.611676e-212,2019-11-29,6.661363e+10,0.0,5.781162e+10,2019-08-29,13.213531,2019-11,6.359121e+10,4.537246
730,2019-12-31,1.536848e+08,6.999904e+10,6.999904e+10,6.984354e+10,0.222645,5.099879e-226,2019-12-31,6.999904e+10,0.0,6.095053e+10,2019-10-08,12.926624,2019-12,6.676629e+10,4.618280
746,2020-01-23,1.561735e+08,7.250096e+10,7.250096e+10,7.234497e+10,0.215615,1.505210e-236,2020-01-23,7.250096e+10,0.0,6.329691e+10,2019-10-30,12.695070,2020-01,7.015430e+10,3.236723
766,2020-02-28,1.513401e+08,7.558248e+10,7.558248e+10,7.542719e+10,0.205877,3.565884e-250,2020-02-28,7.558248e+10,0.0,6.630772e+10,2019-11-27,12.271046,2020-02,7.265654e+10,3.871186
788,2020-03-31,1.543527e+08,7.901175e+10,7.901175e+10,7.885740e+10,0.195730,1.833643e-265,2020-03-31,7.901175e+10,0.0,6.968755e+10,2019-12-27,11.801027,2020-03,7.573731e+10,4.144246
809,2020-04-30,1.539272e+08,8.228987e+10,8.228987e+10,8.213304e+10,0.190943,1.974844e-280,2020-04-30,8.228987e+10,0.0,7.296720e+10,2020-02-05,11.329066,2020-04,7.916561e+10,3.796652
827,2020-05-29,1.560697e+08,8.511007e+10,8.511007e+10,8.495401e+10,0.183706,1.599282e-293,2020-05-29,8.511007e+10,0.0,7.573731e+10,2020-03-02,11.012520,2020-05,8.244720e+10,3.128738
847,2020-06-30,1.604905e+08,8.829115e+10,8.829115e+10,8.813058e+10,0.182188,3.041064e-308,2020-06-30,8.829115e+10,0.0,7.885740e+10,2020-03-30,10.684811,2020-06,8.526727e+10,3.424889
870,2020-07-31,1.571037e+08,9.197839e+10,9.197839e+10,9.181581e+10,0.177071,0.000000e+00,2020-07-31,9.197839e+10,0.0,8.244720e+10,2020-05-06,10.362424,2020-07,8.845149e+10,3.834495
891,2020-08-31,1.635645e+08,9.542059e+10,9.542059e+10,9.525405e+10,0.174841,0.000000e+00,2020-08-31,9.542059e+10,0.0,8.574027e+10,2020-06-04,10.144898,2020-08,9.214145e+10,3.436518
913,2020-09-30,1.689252e+08,9.909772e+10,9.909772e+10,9.892878e+10,0.170769,0.000000e+00,2020-09-30,9.909772e+10,0.0,8.925543e+10,2020-07-08,9.931904,2020-09,9.558811e+10,3.541571
929,2020-10-30,1.713735e+08,1.018246e+11,1.018246e+11,1.016532e+11,0.168586,0.000000e+00,2020-10-30,1.018246e+11,0.0,9.181581e+10,2020-07-30,9.829401,2020-10,9.926712e+10,2.511616
944,2020-11-20,1.734725e+08,1.044135e+11,1.044135e+11,1.042400e+11,0.166423,0.000000e+00,2020-11-20,1.044135e+11,0.0,9.426045e+10,2020-08-20,9.723899,2020-11,1.019962e+11,2.315175

In [9]:
df.head()

,date,cny,notional,total,pre_total,ret,cum_ret,pd_date,max_total,mdd,total_sta,date_sta,ret_sta
0,2017-01-03,4.900003e+07,5.000000e+07,5.000000e+07,NaN,NaN,NaN,2017-01-03,5.000000e+07,0.0,NaN,NaN,NaN
1,2017-01-04,4.901926e+07,9.996628e+07,9.996628e+07,5.000000e+07,99.932557,9.993256e+01,2017-01-04,9.996628e+07,0.0,NaN,NaN,NaN
2,2017-01-05,4.924234e+07,1.502284e+08,1.502284e+08,9.996628e+07,50.279103,5.024519e+03,2017-01-05,1.502284e+08,0.0,NaN,NaN,NaN
3,2017-01-06,5.006684e+07,2.008011e+08,2.008011e+08,1.502284e+08,33.663819,1.691445e+05,2017-01-06,2.008011e+08,0.0,NaN,NaN,NaN
4,2017-01-09,5.033777e+07,2.511211e+08,2.511211e+08,2.008011e+08,25.059651,4.238702e+06,2017-01-09,2.511211e+08,0.0,NaN,NaN,NaN

In [34]:
import xlsxwriter


workbook = xlsxwriter.Workbook('tr.xlsx')
worksheet = workbook.add_worksheet()
bold = workbook.add_format({'bold': True})
worksheet.write('A1', '指标名称', bold)
worksheet.write('B1', '指标数值', bold)
names = ['AvgRet', 'AvgStd', 'AvgShp', 'MDD', 'MddSta', 'MddEnd', 'MddPrd', 'Calmar', 'MinRet1Y', 'MinRet1H', 'MinRet1S', 'VaR1D99', 'VaR1D95', 'VaR1W99', 'PortRank', 'PosRetPct', 'NegRetPct', 'PosRetPct1W', 'TurOvr', 'Part95', 'Part99']
print(names)
datas = {}
for name in names:
    datas[name] = None
print(datas)
datas['AvgRet'] = 33.113245
datas['MinRet1Y'] = 88.0
row = 1
col = 0
for k, v in datas.items():
    worksheet.write(row, col, k)    # 带默认格式写入
    worksheet.write(row, col + 1, v)  # 带自定义money格式写入
    row += 1
worksheet.write(row, 0, 'Total', bold)

worksheet2 = workbook.add_worksheet()
# worksheet2.write('A1', '指标名称2', bold)
# df.to_excel(workbook, sheet_name='Sheet2')
df = df.dropna()
headings = ['date', 'cum_ret']
worksheet2.write_row('A1', headings, bold)
worksheet2.write_column('A2', df['date'])
worksheet2.write_column('B2', df['cum_ret'])
# here we create a line chart object . 
chart1 = workbook.add_chart({'type': 'line'}) 
ret_len = df.shape[0]
chart1.add_series({ 
    'name':       ['Sheet2', 0, 1], 
    'categories': ['Sheet2', 1, 0, ret_len, 0], 
    'values':     ['Sheet2', 1, 1, ret_len, 1], 
}) 

chart1.set_title ({'name': '净值成长曲线'}) 
chart1.set_x_axis({'name': 'date'}) 
chart1.set_y_axis({'name': 'return (%)'}) 
    
# # Set an Excel chart style. 
# chart1.set_style(11) 
    
# # add chart to the worksheet with given
# # offset values at the top-left corner of
# # a chart is anchored to cell D2 .  
worksheet.insert_chart('D2', chart1, {'x_offset': 25, 'y_offset': 10}) 
    

mean = df['ret'].mean()
skew = df['ret'].skew()
mean = round(mean, 4)
skew = round(skew, 4)
df['cat'] = pd.qcut(df['ret'], 10)
# mean, skew
cat_df = df['cat'].value_counts()
cat_right = cat_df.index.categories.right.tolist()
cat_count = cat_df.values.tolist()

headings = ['cat_right', 'cat_count']
worksheet2.write_row('C1', headings, bold)
worksheet2.write_column('C2', cat_right)
worksheet2.write_column('D2', cat_count)
cat_len = cat_df.shape[0]
chart2 = workbook.add_chart({'type': 'column'})
chart2.add_series({
    'name':       ['Sheet2', 0, 3],
    'categories': ['Sheet2', 1, 2, cat_len, 2],
    'values':     ['Sheet2', 1, 3, cat_len, 3],
})

chart21 = workbook.add_chart({'type': 'line'})
chart21.add_series({
    'name':       ['Sheet2', 0, 3],
    'categories': ['Sheet2', 1, 2, cat_len, 2],
    'values':     ['Sheet2', 1, 3, cat_len, 3],
})
chart2.combine(chart21)


chart2_name = '单日收益率 ' + ' mean=' + str(mean) + ' skew=' + str(skew)
chart2.set_title ({'name': chart2_name})
chart2.set_x_axis({'name': 'Right Index'})
chart2.set_y_axis({'name': 'Count (mm)'})

worksheet.insert_chart('D20', chart2, {'x_offset': 25, 'y_offset': 10})

# 每年净值成长图概览
year_ends = df.groupby('year').tail(1)['date']
year_end_len = year_ends.shape[0]
year_end_max = []
for y in year_ends.tolist():
    for i in range(2):
        year_end_max.append(df['ret'].max())
    
headings = ['date', 'ret', 'year_end']
worksheet2.write_row('E1', headings, bold)
worksheet2.write_column('E2', df['date'])
worksheet2.write_column('F2', df['ret'])
worksheet2.write_column('G2', year_ends)
worksheet2.write_column('H2', year_end_max)

chart3 = workbook.add_chart({'type': 'line'}) 
ret_len = df.shape[0]
chart3.add_series({ 
    'name':       ['Sheet2', 0, 5], 
    'categories': ['Sheet2', 1, 4, ret_len, 4], 
    'values':     ['Sheet2', 1, 5, ret_len, 5], 
}) 

for i in range(1, year_end_len + 1):
    chart31 = workbook.add_chart({'type': 'scatter'})
    chart31.add_series({
        'name':       ['Sheet2', 0, 5],
        'categories': ['Sheet2', 1, 6, year_end_len, 6],
        'values':     ['Sheet2', 1, 7, year_end_len, 7],
        'y_error_bars': {
                'type': 'percentage',
                'value': 100,
            },
    })
    chart3.combine(chart31)

chart3.set_title ({'name': '每年净值成长图概览'}) 
chart3.set_x_axis({'name': 'date'}) 
chart3.set_y_axis({'name': 'return (%)'}) 
# worksheet.insert_chart('D40', chart3, {'x_offset': 25, 'y_offset': 10, 'x_scale': 2, 'y_scale': 1})
worksheet.insert_chart('D40', chart3, {'x_offset': 25, 'y_offset': 10})


#month_ret
month_len = mdf.shape[0]
headings = ['month', 'month_ret']
worksheet2.write_row('I1', headings, bold)
worksheet2.write_column('I2', mdf['month'])
worksheet2.write_column('J2', mdf['month_ret'])
chart4 = workbook.add_chart({'type': 'column'})
chart4.add_series({
    'name':       ['Sheet2', 0, 9],
    'categories': ['Sheet2', 1, 8, month_len, 8],
    'values':     ['Sheet2', 1, 9, month_len, 9],
})

chart41 = workbook.add_chart({'type': 'line'})
chart41.add_series({
    'name':       ['Sheet2', 0, 9],
    'categories': ['Sheet2', 1, 8, month_len, 8],
    'values':     ['Sheet2', 1, 9, month_len, 9],
})
chart4.combine(chart41)

chart4.set_title ({'name': '月度收益率'}) 
chart4.set_x_axis({'name': '时间(月)'}) 
chart4.set_y_axis({'name': '收益率(%)'}) 

worksheet.insert_chart('M3', chart4, {'x_offset': 25, 'y_offset': 10})

workbook.close()



1













# expenses = (
#  ['Rent', 1000],
#  ['Gas',   100],
#  ['Food',  300],
#  ['Gym',    50],
# )

# # Start from the first cell below the headers.
# row = 1
# col = 0


# # Iterate over the data and write it out row by row.
# for item, cost in (expenses):
#     worksheet.write(row, col,     item)    # 带默认格式写入
#     worksheet.write(row, col + 1, cost, money)  # 带自定义money格式写入
#     row += 1

# # Write a total using a formula.
# worksheet.write(row, 0, 'Total',       bold)
# worksheet.write(row, 1, '=SUM(B2:B5)', bold)

# workbook.close()

['AvgRet', 'AvgStd', 'AvgShp', 'MDD', 'MddSta', 'MddEnd', 'MddPrd', 'Calmar', 'MinRet1Y', 'MinRet1H', 'MinRet1S', 'VaR1D99', 'VaR1D95', 'VaR1W99', 'PortRank', 'PosRetPct', 'NegRetPct', 'PosRetPct1W', 'TurOvr', 'Part95', 'Part99']
{'AvgRet': None, 'AvgStd': None, 'AvgShp': None, 'MDD': None, 'MddSta': None, 'MddEnd': None, 'MddPrd': None, 'Calmar': None, 'MinRet1Y': None, 'MinRet1H': None, 'MinRet1S': None, 'VaR1D99': None, 'VaR1D95': None, 'VaR1W99': None, 'PortRank': None, 'PosRetPct': None, 'NegRetPct': None, 'PosRetPct1W': None, 'TurOvr': None, 'Part95': None, 'Part99': None}

1

In [269]:
# for i in range(1, len(year_end) + 1):
#     print(i)
# range(1, 3)
# len
year_end = df.groupby('year').tail(1)['date']
print(year_end)
year_end.shape[0]
# year_end_len

243    2017-12-29
486    2018-12-28
730    2019-12-31
944    2020-11-20
Name: date, dtype: object

4

In [162]:
df.tail()
w5 = 0.0005
number = df.shape[0]
num_w5 = df[df['ret'] > w5].shape[0]
num_w5, number, num_w5 / number

(944, 945, 0.9989417989417989)

In [152]:
print("in one")
df.head()
days = 240
df['total_sta'] = df['total'].shift(days)
df['date_sta'] = df['date'].shift(days)
df['ret_sta'] = (df['total'] - df['total_sta']) / df['total'] * 100
cls = ['date', 'total', 'date_sta', 'total_sta', 'ret_sta']
min_row = df.loc[df['ret_sta'].idxmin()][cls]
min_row['date'], min_row['ret_sta']
# df.columns

in one

(str, 36.74625119340369)

In [8]:
df = td.daily_ret
# df['avgshp'].cummax()
df.tail()
df['max_total'] = df['total'].cummax()
df.head(10)
df['mdd'] = (df['max_total'] - df['total']) / df['max_total'] * 100
df.head()
if df[df['mdd'] < 0].empty:
    print(None)
t = 4.5
if t:
    print("not")
# df['mdd'].max()
# df[df['ret'] < 0]
# df['max_total'] = df['ret'].cummax()
# df['mdd'] = (df['max_total'] - df['ret']) / df['max_total'] * 100
# df.head()
# # df.loc[df['mdd'].idxmax()]
# max_idx = df['mdd'].idxmax()
# sta_idx = df[:df['mdd'].idxmax()]['ret'].idxmax()
# max_row = df.loc[max_idx]
# mdd = max_row['mdd']
# mddend = max_row['date']
# mdf = df[:df['mdd'].idxmax()]
# mddsta = mdf.loc[sta_idx]['date']
# mddprd = df[sta_idx:max_idx].shape[0]
# mddsta, mddend, mdd, mddprd
# df['mdd'].idxmax()
# df[:df['mdd'].idxmax()].tail()
# (pd.to_datetime(mddend) - pd.to_datetime(mddsta)).days

None
not

In [59]:
df = yearstd.merge(yhtdf, on = 'year', how = 'left')
df['avgshp'] = df['year_ret'] / df['std']
df

,year,std,date,cny,notional,total,pre_total,ret,pd_date,p_total,year_ret,avgshp
0,2017,4.742007,2017-12-29,7.244792e+07,1.454680e+10,1.461924e+10,1.454640e+10,0.500739,2017-12-29,1.489855e+08,9712.525705,2048.188739
1,2018,0.052613,2018-12-28,1.135380e+08,3.719155e+10,3.730509e+10,3.719179e+10,0.304624,2018-12-28,1.469228e+10,153.909506,2925.328889
2,2019,0.023385,2019-12-31,1.536848e+08,6.999904e+10,7.015272e+10,6.999952e+10,0.218866,2019-12-31,3.741950e+10,87.476375,3740.695303
3,2020,0.016057,2020-11-20,1.734725e+08,1.044135e+11,1.045870e+11,1.044126e+11,0.166997,2020-11-20,7.030279e+10,48.766479,3037.015195

In [20]:
df = td.daily_ret
df['pd_date'] = pd.to_datetime(df['date'])
df = df.dropna()
df['year'] = df['pd_date'].dt.year
yearstd = df.groupby('year')['ret'].std()
yearstd = yearstd.rename('std')
yearstd = yearstd.to_frame().reset_index()
yearstd

<ipython-input-20-80e0ce0d159d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['pd_date'].dt.year

   year       std
0  2017  0.322346
1  2018  0.052635
2  2019  0.022812
3  2020  0.015849

In [35]:
# dr = td.daily_ret
# dr.head()
# type(dr['date'].tolist()[0])
# dr['pd_date'] = pd.to_datetime(dr['date'])
# dr = dr.dropna()
# dr.head()
# # dr.info()
dr['year'] = dr['pd_date'].dt.year
# dr['pd_date'].dt.year.unique()
dr.head()
# dr['sum_ret'] = dr.groupby('year')['ret'].transform('sum')
# dr['sum_ret'] = dr.groupby('year')['ret'].sum()
# dr[dr['year'] == 2017].tail()
yhdr = dr.groupby('year').head(1)
yhdr
ytdr = dr.groupby('year').tail(1)
ytdr
yhtdr = pd.concat([yhdr, ytdr])
yhtdr = yhtdr.sort_values('date', ascending = True)
yhtdr['p_total'] = yhtdr['total'].shift(1)
yhtdr['year_ret'] = (yhtdr['total'] - yhtdr['p_total']) / yhtdr['p_total'] * 100
yhtdr
yhtdr.groupby('year').tail(1)

<ipython-input-35-563ffc99a64c>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dr['year'] = dr['pd_date'].dt.year

,date,cny,notional,total,pre_total,ret,pd_date,year,sum_ret,p_total,year_ret
243,2017-12-29,7.244792e+07,1.454680e+10,1.461924e+10,1.454640e+10,0.500739,2017-12-29,2017,527.034351,1.489855e+08,9712.525705
486,2018-12-28,1.135380e+08,3.719155e+10,3.730509e+10,3.719179e+10,0.304624,2018-12-28,2018,93.863244,1.469228e+10,153.909506
730,2019-12-31,1.536848e+08,6.999904e+10,7.015272e+10,6.999952e+10,0.218866,2019-12-31,2019,63.236950,3.741950e+10,87.476375
944,2020-11-20,1.734725e+08,1.044135e+11,1.045870e+11,1.044126e+11,0.166997,2020-11-20,2020,39.972007,7.030279e+10,48.766479

In [37]:
df = td.daily_ret
df['pd_date'] = pd.to_datetime(df['date'])
df = df.dropna()
df['year'] = df['pd_date'].dt.year
yhdf = df.groupby('year').head(1)
ytdf = df.groupby('year').tail(1)
yhtdf = pd.concat([yhdf, ytdf])
yhtdf = yhtdf.sort_values('date', ascending=True)
yhtdf['p_total'] = yhtdf['total'].shift(1)
yhtdf['year_ret'] = (yhtdf['total'] - yhtdf['p_total']) / yhtdf['p_total'] * 100
yhtdf = yhtdf.groupby('year').tail(1)
yhtdf

<ipython-input-37-94d0f623ecfc>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['pd_date'].dt.year

,date,cny,notional,total,pre_total,ret,pd_date,year,p_total,year_ret
243,2017-12-29,7.244792e+07,1.454680e+10,1.461924e+10,1.454640e+10,0.500739,2017-12-29,2017,1.489855e+08,9712.525705
486,2018-12-28,1.135380e+08,3.719155e+10,3.730509e+10,3.719179e+10,0.304624,2018-12-28,2018,1.469228e+10,153.909506
730,2019-12-31,1.536848e+08,6.999904e+10,7.015272e+10,6.999952e+10,0.218866,2019-12-31,2019,3.741950e+10,87.476375
944,2020-11-20,1.734725e+08,1.044135e+11,1.045870e+11,1.044126e+11,0.166997,2020-11-20,2020,7.030279e+10,48.766479

In [9]:
td.daily_ret.shape

(945, 6)

In [54]:
# -*- coding:utf-8 -*-
import os
import os.path
import pandas as pd
from collections import OrderedDict


class TradeData:
    def __init__(self, csv_path = None):
        if csv_path is None:
            self.csv_path = r"N:\projects\project_chengbo\position\position"
        else:
            self.csv_path = csv_path
        self.positions = self.read_positions()
        self.notional = self.read_notional()
        self.daily_ret = self.daily_ret()
        return

    def read_positions(self):
        positions = {}
        if os.path.isdir(self.csv_path):
            print(self.csv_path, "is dir")
        for dt_folder in os.listdir(self.csv_path):
            # print(dt_folder)
            trade_date = dt_folder
            dt_folder = os.path.join(self.csv_path, dt_folder)
            for file in os.listdir(dt_folder):
                if "posterior.csv" in file:
                    file_name = os.path.join(dt_folder, file)
                    #print(file_name)
                    df = pd.read_csv(file_name)
                    df = df[df['CNY'] > 0]
                    positions[trade_date] = df
        # noinspection PyTypeChecker
        positions = OrderedDict(sorted(positions.items()))
        return positions

    def read_notional(self):
        positions = {}
        if os.path.isdir(self.csv_path):
            print(self.csv_path, "is dir")
        max_trade_date = max(os.listdir(csv_path))
        for dt_folder in os.listdir(self.csv_path):
            # print(dt_folder)
            trade_date = dt_folder
            if trade_date != max_trade_date:
                continue
            dt_folder = os.path.join(self.csv_path, dt_folder)
            for file in os.listdir(dt_folder):
                if "notional.csv" in file:
                    file_name = os.path.join(dt_folder, file)
                    # print(file_name)
                    df = pd.read_csv(file_name)
                    
#                     positions[trade_date] = df
#         # noinspection PyTypeChecker
#         positions = OrderedDict(sorted(positions.items()))
        print(df.head())
        df['DATETIME'] = df['DATETIME'].str[:10]
        df = df.rename(columns={'DATETIME':'date', 'NOTIONAL':'notional'})
        print(df.head())
        return df

    def daily_ret(self):
        daily_cny = []
        for k, v in self.positions.items():
            sum_cny = v['CNY'].sum()
            daily_cny.append([k, sum_cny])
        df = pd.DataFrame(daily_cny, columns=['date', 'cny'])
#         notionals = []
#         for k, v in self.notional.items():
#             sum_notional = v['NOTIONAL'].sum()
#             notionals.append([k, sum_notional])
#         dfn = pd.DataFrame(notionals, columns=['date', 'notional'])
        dfn = self.notional                     
        df = df.merge(dfn, on='date', how='left')
        df['total'] = df['notional']
        df['pre_total'] = df['total'].shift(1)
        df['ret'] = (df['total'] - df['pre_total']) / df['pre_total'] * 100
        total_sta = df.iloc[0]['total']
        df['cum_ret'] = (df['total'] - total_sta) / total_sta * 100
        return df




class BTResult:
    def __init__(self, trade_data):
        self.TradeData = trade_data
        self.AvgRet = self.avgret()
        self.AvgStd = self.avgstd()
        self.AvgShp = self.avgshp()
        self.MDD, self.MddSta, self.MddEnd, self.MddPrd = self.mdd()
        self.Calmar = self.calmar()
        self.MinRet1Y = self.minret(240)
        self.MinRet1H = self.minret(120)
        self.MinRet1S = self.minret(60)
        self.VaR1D99 = None
        self.VaR1D95 = None
        self.VaR1W99 = None
        self.PortRank = None
        self.PosRetPct = self.posretpct()
        self.NegRetPct = self.negretpct()
        self.PosRetPct1W = None
        self.TurOvr = None
        self.Part95 = None
        self.Part99 = None

    def avgret(self):
        df = self.TradeData.daily_ret
        df['pd_date'] = pd.to_datetime(df['date'])
        df = df.dropna()
        df['year'] = df['pd_date'].dt.year
        yhdf = df.groupby('year').head(1)
        ytdf = df.groupby('year').tail(1)
        yhtdf = pd.concat([yhdf, ytdf])
        yhtdf = yhtdf.sort_values('date', ascending=True)
        yhtdf['p_total'] = yhtdf['total'].shift(1)
        yhtdf['year_ret'] = (yhtdf['total'] - yhtdf['p_total']) / yhtdf['p_total'] * 100
        yhtdf = yhtdf.groupby('year').tail(1)
        year_ret = yhtdf['year_ret'].sum() / yhtdf.shape[0]
        return year_ret

    def avgstd(self):
        df = self.TradeData.daily_ret
        df['pd_date'] = pd.to_datetime(df['date'])
        df = df.dropna()
        df['year'] = df['pd_date'].dt.year
        yearstd = df.groupby('year')['ret'].std()
        yearstd = yearstd.rename('std')
        yearstd = yearstd.to_frame().reset_index()
        year_std = yearstd['std'].sum() / yearstd.shape[0]
        return year_std

    def avgshp(self):
        if self.AvgStd is not None and self.AvgStd > 0:
            return self.AvgRet / self.AvgStd
        return None

    def avgshp_df(self):
        df = self.AvgStd.merge(self.AvgRet, on='year', how='left')
        df['avgshp'] = df['year_ret'] / df['std']
        return df[['year', 'avgshp']]

    def mdd(self):
        df = self.TradeData.daily_ret
        df['max_total'] = df['total'].cummax()
        df['mdd'] = (df['max_total'] - df['total']) / df['max_total'] * 100
        if df[df['mdd'] > 0].empty:
            return None, None, None, None
        max_idx = df['mdd'].idxmax()
        sta_idx = df[:max_idx]['total'].idxmax()
        max_row = df.loc[max_idx]
        mdd = max_row['mdd']
        mddend = max_row['date']
        mdf = df[:df['mdd'].idxmax()]
        mddsta = mdf.loc[sta_idx]['date']
        mddprd = df[sta_idx:max_idx].shape[0]
        return mdd, mddsta, mddend, mddprd

    def calmar(self):
        if self.MDD is not None and self.MDD > 0:
            return self.AvgRet / self.MDD
        return None

    def minret(self, days = 5):
        days = days
        df = self.TradeData.daily_ret
        df['total_sta'] = df['total'].shift(days)
        df['date_sta'] = df['date'].shift(days)
        df['ret_sta'] = (df['total'] - df['total_sta']) / df['total'] * 100
        cls = ['date', 'total', 'date_sta', 'total_sta', 'ret_sta']
        min_row = df.loc[df['ret_sta'].idxmin()][cls]
        return min_row['ret_sta']

    def posretpct(self):
        w5 = 0.0005
        df = self.TradeData.daily_ret
        number = df.shape[0]
        num_w5 = df[df['ret'] > w5].shape[0]
        return num_w5 / number

    def negretpct(self):
        w5 = -0.0005
        df = self.TradeData.daily_ret
        number = df.shape[0]
        num_w5 = df[df['ret'] > w5].shape[0]
        return num_w5 / number




def run_reporter():
    return

print("in")
csv_path = r"N:\projects\project_chengbo\position\position"
td = TradeData(csv_path)
print(len(td.positions))
print(td.daily_ret.head())
btr = BTResult(td)

in
N:\projects\project_chengbo\position\position is dir
N:\projects\project_chengbo\position\position is dir
          DATETIME      NOTIONAL
0  2017-01-03 1400  5.000000e+07
1  2017-01-04 1400  4.996628e+07
2  2017-01-05 1400  5.026215e+07
3  2017-01-06 1400  5.057263e+07
4  2017-01-09 1400  5.032004e+07
         date      notional
0  2017-01-03  5.000000e+07
1  2017-01-04  4.996628e+07
2  2017-01-05  5.026215e+07
3  2017-01-06  5.057263e+07
4  2017-01-09  5.032004e+07
945
         date           cny      notional         total     pre_total  \
0  2017-01-03  4.900003e+07  5.000000e+07  5.000000e+07           NaN
1  2017-01-04  4.901926e+07  4.996628e+07  4.996628e+07  5.000000e+07
2  2017-01-05  4.924234e+07  5.026215e+07  5.026215e+07  4.996628e+07
3  2017-01-06  5.006684e+07  5.057263e+07  5.057263e+07  5.026215e+07
4  2017-01-09  5.033777e+07  5.032004e+07  5.032004e+07  5.057263e+07

        ret   cum_ret
0       NaN  0.000000
1 -0.067443 -0.067443
2  0.592138  0.524296
3  0.617716  1.145251
4 -0.499447  0.640084

<ipython-input-54-6cf93f8b2e44>:113: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['pd_date'].dt.year
<ipython-input-54-6cf93f8b2e44>:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['pd_date'].dt.year

In [51]:
df = td.daily_ret
df.head()
# total_sta = df.iloc[0]['pre_total']
# total_sta
# df['cum_ret'] = (df['total'] - total_sta) / total_sta * 100
# df.head()
# max(os.listdir(csv_path))

,date,cny,notional,total,pre_total,ret,cum_ret,pd_date,max_total,mdd,total_sta,date_sta,ret_sta
0,2017-01-03,4.900003e+07,NaN,NaN,NaN,NaN,NaN,2017-01-03,NaN,NaN,NaN,NaN,NaN
1,2017-01-04,4.901926e+07,NaN,NaN,NaN,NaN,NaN,2017-01-04,NaN,NaN,NaN,NaN,NaN
2,2017-01-05,4.924234e+07,NaN,NaN,NaN,NaN,NaN,2017-01-05,NaN,NaN,NaN,NaN,NaN
3,2017-01-06,5.006684e+07,NaN,NaN,NaN,NaN,NaN,2017-01-06,NaN,NaN,NaN,NaN,NaN
4,2017-01-09,5.033777e+07,NaN,NaN,NaN,NaN,NaN,2017-01-09,NaN,NaN,NaN,NaN,NaN